body {
    background-color: #090809;
    color: white;
}

.fundo_mais_claro {
    background-color: #191919;
}

.highlight {
    color: #ffc857;
    font-weight: bold;
}

.estrela_desativada {
    opacity: 0.5;
}

.dropdown {
    float: right;
    display: inline;
}
section {
    padding: 2em 0;
}

.title_container {
    padding-bottom: 2em;
}

/* Aba Lançamentos */

#lancamentos {
    padding-left: 10%;
    padding-right: 10%;
}

#lancamentos h1 {
    text-align: center;
}

.descricao_lancamento {
    padding: 0 0 1em 1em;
}

.video {
    width: 100%;
}

.video > iframe {
    width: 100%;
    height: 100%;
}

.direcao_do_filme {
    text-align: justify;
    margin-bottom: 1em;
}

.direcao_do_filme > text {
    padding-right: 1em;
}

.sinopse {
    text-align: justify;
    margin-top: 1em;
}

.estrela_avaliacao {
    max-width: 1.5em;
}

.elenco {
    margin-bottom: 1em;
}

.separador_ator {
    margin: 0.5em;
}

.carrossel {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2em 0 1em 0;
}

.bolinha_carrossel {
    background-color: gray;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
}

.bolinha_carrossel:nth-child(1) {
    background-color: #ffc857;
}

/* Aba destaques */

#em_destaque h1 {
    display: inline;
}

.destaque > img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

.div_carregar_mais {
    margin-top: 2em;
    text-align: right;
}

.carregar_mais {
    color: #ffc857;
}

/* Aba Avaliações */
.avaliacao {
    margin-bottom: 1em;
    padding-right: 1em;
}

.foto_avaliador {
    border-radius: 50%;
    max-width: 50px;
}

.texto_avaliacao > p {
    text-align: justify;
}

.estrelas_avaliacao_usuario > text {
    margin-left: 1em;
}

.estrela_avaliacao_usuario {
    width: 1.5em;
}

/* Aba Entrevistas */

#entrevistas_e_makingof {
    padding-bottom: 2em;
}

.entrevista {
    padding: 0 1em;
}

.video_entrevista > iframe {
    width: 100%;
    min-height: 250px;
}

.descricao_entrevista > h5 {
    margin: 0.75em 0;
}

.nome_diretoria {
    display: block;
}

.descricao_entrevista > text {
    margin-right: 1em;
}

/* Novidades */

.novidade {
    border-bottom: 2px solid #191919;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.img_novidade_container > img {
    border-radius: 2%;
    max-height: 150px;
    max-width: 100%;
}

.img_novidade_container {
    float: left;
    margin: 0 1em 1em 0;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.conteudo_novidade > p {
    text-align: justify;
}

.tag_novidade {
    padding: 0.1em 1em;
    border-radius: 1em;
    margin: 0.1em 0.1em 0.1em 0;
    font-size: 0.75em;
    background-color: #ffc857;
    color: #090809;
    font-weight: 550;
    display: inline-block;
}

/* Sobre */

.sobre_editorial {
    padding-left: 2em;
}

.sobre > p {
    text-align: justify;
}

/* Editorial */

.item_editorial {
    padding: 0.5em 0;
    display: flex;
    align-items: center;
}

.item_editorial > img {
    padding-right: 0.5em;
}

.editorial {
    margin: 0.5em 0;
}

/* Redes sociais */

.redes_sociais > h3 {
    margin-bottom: 0.5em;
}

.redes_sociais > a {
    text-decoration: none;
}

.logo_rede_social {
    max-width: 3em;
    max-height: 3em;
    margin-right: 1em;
}

/* Media Queries */

/* Small */
@media screen and (max-width:576px) {
    .direcao_do_filme > text {
        display: block;
        max-width: 100%;
    }

    .elenco > text {
        display: block;
    }

    .separador_ator {
        display: none;
    }

    .dropdown {
        display: none;
    }

    .header_destaque {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    section {
        padding-left: 5%;
        padding-right: 5%;
    }

    .img_novidade_container {
        width: 100%;
        margin-right: 0;
    }

    .img_novidade_container > img {
        max-height: 250px;
    }

    .div_carregar_mais {
        align-items: center;
        display: flex;
        justify-content: center;
    } 

    .sobre_editorial {
        padding-top: 1em;
        padding-left: 1em;
    }

    /* Esconde cards quando ocupa a largura toda */
    .destaque_para_esconder {
        display: none;
    }

    .avaliacao_para_esconder {
        display: none;
    }
}

/* Large */
@media screen and (max-width:992px) {
    .descricao_lancamento {
        padding: 0;
        margin-top: 1.5em;
    }

    .video_coluna {
        padding: 0;
    }

    .entrevista {
        padding: 1em;
    }  

    #entrevistas_e_makingof {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    #em_destaque {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .destaque {
        margin-bottom: 1em;
    }

    .div_carregar_mais {
        margin-top: 1em;
    }
}