body {
    background-color: #090809;
    color: white;
}

.estrela_desativada {
    opacity: 0.5;
}

.dropdown {
    float: right;
    display: inline;
}

/* Aba Lançamentos */
.lancamentos_containter {
    margin: 0 !important;
    padding: 0 !important;
}

.lancamentos {
    background-color: #111011;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1.5em;
}

.lancamentos h1 {
    text-align: center;
    margin: 1.5em 0em;
}

.descricao_lancamento {
    padding: 0 0 1em 1em;
}

.highlight {
    color: #ffc857;
}

.video {
    width: 100%;
}

.video > iframe {
    width: 100%;
    height: 100%;
}

.direcao_do_filme {
    text-align: justify;
    margin-bottom: 1em;
}

.direcao_do_filme > text {
    padding-right: 1em;
}

.sinopse {
    text-align: justify;
    margin-top: 1em;
}

.estrela_avaliacao {
    max-width: 1.5em;
}

.elenco {
    margin-bottom: 1em;
}

.separador_ator {
    margin: 0.5em;
}

.carrossel {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1.5em;
    margin-top: 1.5em;
}

.bolinha_carrossel {
    background-color: gray;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
}

.bolinha_carrossel:nth-child(1) {
    background-color: #ffc857;
}

/* Aba destaques */

.header_destaque > h1 {
    display: inline;
}

.header_destaque {
    margin: 2.5em 0;
}

.destaque {
    max-height: 500px;
    max-width: 330px;
    margin-bottom: 1em;
}

.destaque > img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

.div_carregar_mais {
    margin: 1em 0;
    text-align: right;
}

.carregar_mais {
    color: #ffc857;
}

/* Aba Avaliações */
.avaliacoes > h1 {
    margin: 1em 0;
}

.avaliacao {
    margin-bottom: 1em;
    padding: 1em;
}

.foto_avaliador {
    border-radius: 50%;
    max-width: 50px;
}

.texto_avaliacao > p {
    text-align: justify;
}

.estrelas_avaliacao_usuario > text {
    margin-left: 1em;
}

.estrela_avaliacao_usuario {
    width: 1.5em;
}

/* Aba Entrevistar */

.entrevistas > h1 {
    margin: 1em 0;
}

/* --- */

.logo {
    max-width: 50px;
}

.entrevista {
    background-color: springgreen;
    border: 2px solid white;
    min-height: 300px;
}

.novidade {
    background-color: thistle;
    border: 2px solid gray;
    min-height: 200px;
}

.logo_rede_social {
    max-width: 40px;
    max-height: 40px;
}

/* Media Queries */

@media screen and (max-width:576px) {
    .direcao_do_filme > text {
        display: block;
        max-width: 100%;
    }

    .elenco > text {
        display: block;
    }

    .separador_ator {
        display: none;
    }
}

@media screen and (max-width:992px) {
    .descricao_lancamento {
        padding: 0;
        margin-top: 1.5em;
    }

    .video_coluna {
        padding: 0;
    }
}

@media screen and (max-width: 576px) {
    .dropdown {
        display: none;
    }

    .header_destaque {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .em_destaque {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .div_carregar_mais {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}